@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.login-container {
    // background-color: #fff;
    text-align: left;
    border-radius: 20px;
    height: 70%;
    width: 60%;
    box-sizing: border-box;
    margin: 1rem auto;
    display: flex;
    // justify-content: space-between;
    border: 1px solid #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    max-width: 100%;

    .left-section {
        background-color: #f2f2f2;
        box-sizing: border-box;
        width: 43%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 50px;
        padding-bottom: 0px;
        padding-right: 50px;
        //justify-content: center;
        //overflow: hidden;
        // word-wrap: break-word;

        .logo {
            // padding-top: 15px;
            display: flex;
            justify-content: center;
        }

        .features {
            margin-top: 1.5rem;
            // font-family: "Roboto", sans-serif;
            // font-size: large;

            li {
                &::marker { 
                    font-size: 20px;
                    color: #ccc; // Set the color to grey
                }
            }

            b {
                font-weight: 600;
            }

            p {
                letter-spacing: 0.03rem;
                margin-top: 0.1rem;
                color: #868686;
                font-weight: 200;
                font-size: 12px;
            }
        }

        .bus-image {
            margin-top: 0rem;
            margin-left: -1.4rem;
            width: 300px;
            height: 200px;
        }
    }

    .right-section {
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-right: 30px;

        .heading {
            // margin-top: 15px;
            font-weight: 500;
        }

        form {
            margin-top: 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                color: #868686;
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            input {
                background-color: #f4f4f4;
                padding: 0.75rem;
                margin-bottom: 2rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
            }

            .login-btn {
                width: 9rem;
                padding: 0.75rem;
                margin: 1em auto;
                color: #fff;
                // background-color: #ccc;
                background-color: #dc635b;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #8a3b34;
                }
            }
        }

        p {
            font-size: 0.9rem;
            color: #868686;
        }
    }
}
