.login-container {
    text-align: left;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    border: 1px solid #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    .left-section {
        background-color: #f2f2f2;
        box-sizing: border-box;
        width: 43%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 50px;
        padding-bottom: 0px;
        padding-right: 50px;
        word-wrap: break-word;

        .logo {
            display: flex;
            justify-content: center;
        }

        .features {
            margin-top: 1.5rem;

            li {
                &::marker {
                    font-size: 20px;
                    color: #ccc;
                }
            }

            b {
                font-weight: 600;
            }

            p {
                letter-spacing: 0.03rem;
                margin-top: 0.4rem;
                color: #868686;
                font-weight: 200;
                font-size: 12px;
            }
        }

        .bus-image {
            margin-top: 0rem;
            margin-left: -1.4rem;
            width: 300px;
            height: 200px;
        }
    }

    .right-section {
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-right: 30px;

        .main_heading {
            font-weight: 500;
        }

        form {
            margin-top: 3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                color: #868686;
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            input {
                background-color: #f4f4f4;
                padding: 0.75rem;
                margin-bottom: 2rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
            }

            .error {
                background-color: #f9d9d7;
                border-radius: 5px;
                padding: 10px;
                color: #dc635b;
            }

            .login-btn {
                width: 9rem;
                padding: 0.75rem;
                margin: 1em auto;
                color: #fff;
                // background-color: #ccc;
                background-color: #dc635b;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #8a3b34;
                }
            }

            .para {
                text-align: center;
                margin-top: 1rem;
                color: #868686;

                .sign-up-link {
                    color: #dc635b;
                    cursor: pointer;
                }

                .sign-up-link:hover {
                    color: #8a3b34;
                }
            }
        }

        p {
            font-size: 0.9rem;
            color: #868686;
        }
    }

    @media (max-width: 600px) {
        .left-section {
            display: none; 
        }

        .right-section {
            width: 100%;
        }
    }
}