@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.login-container {
    border-radius: 20px;
    height: 90%;
    width: 60%;
    box-sizing: border-box;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f4f4;

    overflow: hidden;
    max-width: 100%;

    .left-section {
        background-color: #f2f2f2;
        box-sizing: border-box;
        width: 43%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        //justify-content: center;
        //overflow: hidden;
        // word-wrap: break-word;

        .logo {
            padding-top: 15px;
            display: flex;
            justify-content: center;
        }

        .features {
            margin-top: 1.5rem;
            // font-family: "Roboto", sans-serif;
            // font-size: large;

            li {
                &::marker { 
                    font-size: 20px;
                    color: #ccc; // Set the color to grey
                }
            }

            b {
                font-weight: 600;
            }

            p {
                letter-spacing: 0.03rem;
                margin-top: 0.1rem;
                color: #868686;
                font-weight: 500;
                font-size: 12px;
            }
        }

        .bus-image {
            margin-left: -1.4rem;
            width: 300px;
            height: 200px;
        }
    }

    .right-section {
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;

        .heading {
            margin-top: 15px;
            font-weight: 500;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                color: #868686;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }

            input {
                background-color: #f4f4f4;
                padding: 0.75rem;
                margin-bottom: 1.7rem;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
            }

            .login-btn {
                width: 9rem;
                padding: 0.75rem;
                margin: 0.5em auto;
                color: #fff;
                // background-color: #ccc;
                background-color: #dc635b;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #8a3b34;
                }
            }
        }

        p {
            font-size: 0.9rem;
            color: #868686;
        }

        .divider {
            display: flex;
            align-items: center;
            text-align: center;
            margin-top: 0.9rem;
            margin-bottom: 0.9rem;

            &::before,
            &::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #ddd;
            }

            &::before {
                margin-right: 0.5rem;
            }

            &::after {
                margin-left: 0.5rem;
            }

            span {
                font-size: 1rem;
                color: #000;
            }
        }

        .google-btn {
            display: flex;
            margin: 0 auto;
            width: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.65rem;
            background-color: #fff;
            color: black;
            border: none;
            font-weight: 400;
            border: 1px solid #f2f2f2;
            border-radius: 5px;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            img {
                margin-right: 0.5rem;
                width: 20px;
            }

            &:hover {
                background-color: #f2f2f2;
            }
        }

        p {
            font-size: 1rem;
            text-align: center;
            margin-top: 0.7rem;
            color: #868686;

            a {
                color: #000;
            }
        }
    }
}