.trips-screen {
    height: 85vh !important;
    overflow-y: scroll;
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 4fr 8fr;

  }


  @media  (max-width: 992px){
    .trips-screen{
      width: 90%;
      margin: 0 auto;
      display: block;
      // border: 1px solid;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }
  
  }