.container {
  width: 100%;
  padding: 0;
  margin-left: 22rem;
}
.trips p {
  font-size: 0.8rem;
}
.trips-screen {

  position: relative;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 3px;
}
&::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 5px;
}

&::-webkit-scrollbar-thumb {
    background: #dc635b;
    border-radius: 8px;
}

&::-webkit-scrollbar-thumb:hover {
    background: #8a3b34;
}
}
.tripsList {
  background-color: white;
  border: 1px solid white;
  width: min(95vw, 960px);
  padding-bottom: 4px;
  margin: 0px;
  margin-top: 20px;
  border-radius: 10px;
  .TripContainer {
    text-align: start;
    display: flex;
    gap: 0.6rem;
    justify-content: space-between;
  }

  @media screen {
    @media (max-width: 1290px) {
      width: min(95vw, 800px);
    }

    @media (max-width: 1160px) {
      width: 97vw;
    }
  }
}

@media only screen and (min-width: 459px) and (max-width: 809px) {
  .TripContainer {
    zoom: 0.7;
  }
}

.tripsList:hover {
  box-shadow: 0px 0px 5px 5px rgba(121, 120, 120, 0.2);
}

.leftWrapper {
  width: 80%;
  margin: 0;
  margin-right: 2rem;
}

.rightWrapper {
  border-left: 1px solid rgb(236, 235, 235);
  width: 16%;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin: 10px;
  margin-left: 1rem;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  padding-right: 0.5rem;
  padding-top: 1rem;

  .text-end {
    span {
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      font-weight: 600;
    }
    .seats-available {
      width: 100%;
      text-align: center;
    }
  }
}
.rightWrapper p {
  margin-bottom: 5px;
}
.rightWrapper span {
  font-size: 26px;
  font-weight: 600;
}
.upperItems {
  margin-top: 1.5rem;
}
.tripRecords {
  gap: 30px;
  margin: 5px 15px;
  align-items: center !important;
}

.tripInfo {
  padding-left: 18px;
  gap: 3rem;
  align-items: start;
}
.aminities {
  gap: 1px;
  align-items: center;
}
.aminities span {
  color: var(--mediumRed);
  margin: 3px;
}
.NameAndType {
  margin-top: -0.8rem;
  width: 40%;
}
.NameAndType h5 {
  font-size: 1.1rem !important;
  margin: 15px 0px;
  color: #353434;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.NameAndType p {
  margin: 0px;
  // line-height: 1px;
  margin-top: -0.5rem;
}
.timeInfo {
  justify-content: space-between;
  width: 60%;
  // margin: 0.5rem;
}
.timeInfo span {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5;
}
.moreDetails {
  border-top: 1px solid rgb(230, 227, 227);
  padding: 0.2rem 1rem;
  gap: 0.7rem;
  text-wrap: nowrap;
}
.moreDetails .flex {
  align-items: center;
  gap: 5px;
}
.moreDetails p {
  font-size: 14px;
}

.moreDetails p:hover,
.downArrow:hover,
.downArrow:focus .moreDetails p:focus {
  color: var(--mediumRed);
  cursor: pointer;
}
.aminitiesLength {
  cursor: pointer;
}
.ads {
  // position: absolute;
  background-color: #f2f2f2;
  text-align: center;
  width: 20px;
  height: 15px;
  padding: 6px;
  color: #8697ba;
  margin-top: 0px;
  border-bottom-right-radius: 8px;
  z-index: 5;
}

.tagImg {
  width: 120px;
  height: auto;
  padding-left: 18px;
  margin-top: 1.5rem;
  z-index: 1;
}
.arrivalData {
  text-align: right;
}
.duration {
  text-align: center;
  justify-content: center;
  align-items: center !important;
  // height: 50px;
}
.duration p {
  padding: 2px 6px;
  margin: 3px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.avgRating {
  background-color: #3dc070;
  padding: 3px 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  align-items: center;
}
.avgRating p {
  color: white;
  font-size: 14px;
  margin-top: -2px;
}
.totalRating {
  background-color: #f8f8f8;
  margin: -2px;
  align-items: center;
  gap: 3px;
  padding: 3px 8px;
}
.totalRating p {
  font-size: 0.8rem;
  margin-top: -2px;
}
.tracking {
  align-items: start;
  gap: 6px;
  background-color: #fbfbfb;
  padding: 2px 4px;
  border-radius: 5px;
}
.tracking p {
  color: #999999;
}
.downArrow {
  width: 12px;
  height: 12px;
  margin-top: 10px;
}

.straightLine {
  width: 0.1rem;
  height: 5vh;
  background-color: #f2f2f2;
}
.showSeat {
  padding: 0.5rem 1.3rem;
  background-color: #dc635b;
  border: none;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 90%;
}
.showSeat:hover {
  background-color: #a34940;
}
.height {
  height: 220px;
  margin-left: 70px;
  // background-color: black;
}

.rating {
  height: 1.8rem;
}

@media (max-width: 1160px) {
  .container {
    margin-left: 0;
  }
  .showSeat {
    padding: 12px 12px;
    font-size: 15px;
  }
}
// @media (min-width: 1024px) and (max-width: 1200px) {
//   .filters-container {
//     position: relative !important;
//   }
// }
@media only screen and (min-width: 862px) and (max-width: 1072px) {
  // .container {
  //   margin-left: 0;
  // }
  .TripContainer {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 538px) and (max-width: 862px) {
  .container {
    margin-left: 0;
  }
  .TripContainer {
    zoom: 0.7;
  }
}

@media (max-width: 650px) {
  .container {
    margin-left: 0;
  }
  .tripInfo {
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 0.9rem;
  }
  .timeInfo {
    width: 86%;
  }
  .NameAndType {
    width: 80%;
  }
  .leftWrapper {
    width: 70%;
  }
  .TripContainer {
    zoom: 0.8;
    max-width: 100%;
  }
  .moreDetails {
    flex-wrap: wrap;
    gap: 0px;
    margin: 2px;
  }
  .tracking {
    display: none;
  }
}
@media (max-width: 558px) {
  .showSeat {
    padding: 12px 18px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 458px) {
  .TripContainer {
    zoom: 0.7;
    max-width: 100%;
  }
  .container {
    margin-bottom: 15rem;
    margin-left: 0;
  }
  .rightWrapper .text-end span {
    font-size: 1.3rem;
    letter-spacing: 0rem;
    font-weight: 600;
  }
  .rightWrapper .text-end .seats-available {
    font-size: 0.8rem;
  }
  .timeInfo {
    width: 95%;
  }
  .showSeat {
    padding: 12px 3px;
    font-size: 11px;
  }
  .NameAndType h4 {
    font-size: 18px;
  }
  .timeInfo span {
    font-size: 18px;
  }
  .leftWrapper {
    margin-right: 0px;
  }
  .rightWrapper {
    width: 20%;
    justify-content: space-evenly;
  }
  .ads {
    display: none;
  }
  .moreDetails {
    flex-wrap: wrap;
    gap: 0px;
    margin: -4px;
  }
  .tripInfo {
    gap: 0.2rem;
  }
  .tagImg {
    margin: 0.5rem;
    padding-left: 18px;
  }
}
