.container {
  padding-top: 10px;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.trips p{
  font-size: 1.1rem;
}
.TripContainer {
  background-color: white;
  // width: auto;
  text-align: start;
  margin: 17px;
  display: flex;
  margin-top: 20px;
  border-radius: 10px;
  gap: .6rem;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 3px rgba(121, 120, 120, 0.2);
}
.TripContainer:hover {
  box-shadow: 0px 0px 15px 7px rgba(121, 120, 120, 0.2);
}

.leftWrapper {
  width: 80%;
  margin: 0;
  margin-right: 2rem;
}

.rightWrapper {
  border-left: 1px solid rgb(236, 235, 235) ;
  width: 16%;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: normal;
  margin: 10px;
  margin-left: 1rem;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
}
.rightWrapper p {
  margin-bottom: 5px;
}
.rightWrapper span {
  font-size: 26px;
  font-weight: 600;
}
.upperItems {
  width: 105%;
}
.tripRecords {
  gap: 30px;
  margin: 5px 15px;
  align-items: center !important;
}

.tripInfo {
  padding-left: 18px;
  gap: 3rem;
  align-items: start;
}
.aminities {
  gap: 1px;
  align-items: center;
}
.aminities span {
  color: var(--mediumRed);
  margin: 3px;
}
.NameAndType {
  margin-top: -0.8rem;
  width: 40%;
}
.NameAndType h4{
  font-size: 22px;
  font-weight: 500;
  margin: 15px 0px;
}
.NameAndType p {
  margin: 0px;
  // line-height: 1px;
  margin-top: -0.5rem;
}
.timeInfo {
  justify-content: space-between;
  width: 60%;
  // margin: 0.5rem;
}
.timeInfo span {
  font-weight: 700;
  font-size: 22px;
}
.moreDetails {
  border-top: 1px solid rgb(230, 227, 227);

  padding: 3px 10px;
  gap: 0.9rem;
  text-wrap: nowrap;
}
.moreDetails .flex{
  align-items: center;
  gap: 5px;
}
.moreDetails p {
  font-size: 14px;
  
}

.moreDetails p:hover,
.downArrow:hover,
.downArrow:focus .moreDetails p:focus {
  color: var(--mediumRed);
  cursor: pointer;
}
.aminitiesLength {
  cursor: pointer;
}
.ads {
  // position: absolute;
  background-color: #f2f2f2;
  text-align: center;
  width: 20px;
  height: 15px;
  padding: 6px;
  color: #8697ba;
  margin-top: 0px;
  border-bottom-right-radius: 8px;
  z-index: 5;
}

.tagImg {
  width: 120px;
  height: auto;
  padding-left: 18px;
  margin-top: 1.5rem;
  z-index: 1;
}
.arrivalData {
  text-align: right;
}
.duration {
  text-align: center;
  justify-content: center;
  align-items: center !important;
  // height: 50px;
}
.duration p {
  padding: 2px 6px;
  margin: 3px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.avgRating {
  background-color: #3dc070;
  padding: 3px 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  align-items: center;
}
.avgRating p {
  color: white;
  font-size: 14px;
  margin-top: -2px;
}
.totalRating {
  background-color: #f8f8f8;
  margin: -2px;
  align-items: center;
  gap: 3px;
  padding: 4px 8px;
}
.totalRating p{
  font-size: 16px;
margin-top: -2px;
}
.tracking {
  align-items: start;
  gap: 6px;
  background-color: #fbfbfb;
  padding: 2px 4px;
  border-radius: 5px;
}
.tracking p {
  color: #999999;
}
.downArrow {
  width: 12px;
  height: 12px;
  margin-top: 10px;
}

.straightLine {
  width: 0.1rem;
  height: 5vh;
  background-color: #f2f2f2;
}
.showSeat {
  padding: 12px 32px;
  background-color: #dc635b;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}
.height {
  height: 220px;
  margin-left: 70px;
  // background-color: black;
}


.rating{
  height: 30px;
}

@media (max-width: 1200px){
  .showSeat{
    padding: 12px 22px ;
  }
}
@media only screen and (min-width: 840px) and (max-width: 1072px) {
  .TripContainer {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 459px) and (max-width: 839px) {
  .TripContainer {
    zoom: 0.6;
  }
}


@media  (max-width: 538px){
  .tripInfo{
    gap: 1rem;
    flex-direction: column;
    margin-bottom: .9rem;
  }
  .timeInfo{
    width: 86%;

  }
  .NameAndType {
    width: 80%;
  }
  .leftWrapper{
   width: 70%;
  }
  .TripContainer{
    zoom: 0.8;
  }
  .moreDetails{
    flex-wrap: wrap;
    gap: 0px;
    margin: 2px;
  }
  .tracking{
    display: none;
  }
  
}

@media only screen and (max-width: 414px) {
  .TripContainer{
    zoom: 0.7;
  }
  
  .timeInfo{
    width: 95%;
    
  }
  .showSeat{
    padding: 12px 7px;
    font-size: 10px;
  }
  .NameAndType h4{
    font-size: 18px;
  }
  .timeInfo span{
    font-size: 18px;
  }
  .leftWrapper{
    margin-right: 0px;
  }
  .rightWrapper{
    width: 20%;
  }
  // .duration{
  //   display: none;

  // }
  .moreDetails{
    flex-wrap: wrap;
    gap: 0px;
    margin: 2px;
  }
  .tripInfo{
    gap: .2rem;
  }
}