.seatLayout_stopPoints {
  position: relative;

  & div.pointsCard {
    border-radius: 8px;
    max-height: 220px;
    background-color: white;
  }

  ul.pointsListContainer {
    padding-inline: 8px;
    overflow-y: auto;
    height: 180px;
    scrollbar-width: none;
  }
  li.singlePointContainer {
    padding-block: 0px;
    margin-block: 16px;
    display: flex;
    justify-content: space-between;

    & > span {
      font-size: 0.8rem;
    }
  }
  div.singlePoint {
    display: flex;
    gap: 10px;

    input {
      height: 20px;
      width: 20px;
    }

    p {
      display: inline-block;
      font-size: 0.85rem;
      letter-spacing: 0.34px;
      line-height: 1.1;
      padding: 0;
      margin: 0;
      margin-bottom: 4px;
      border: none;
      font-weight: 600;
      max-width: 270px;
      color: rgb(68, 68, 66);

      cursor: pointer;
    }

    span.subContent {
      display: inline-block;
      font-size: 0.7rem;
      letter-spacing: 0.1px;
      line-height: 1.1;
      font-weight: 500;
      padding: 0;
      margin: 0;
      max-width: 270px;
      color: rgb(114, 114, 113);
    }
  }

  @media screen {
    @media (max-width: 815px) {
      & div.pointsCard {
        max-height: 300px;
      }

      ul.pointsListContainer {
        max-height: 270px;
      }

      li.singlePointContainer {
        margin-block: 20px;
      }

      div.singlePoint {
        p {
          max-width: 500px;
        }

        span.subContent {
          max-width: 500px;
        }
      }
    }

    @media (max-width: 450px) {
      & div.pointsCard {
        max-height: 300px;
      }

      ul.pointsListContainer {
        max-height: 270px;
      }

      li.singlePointContainer {
        margin-block: 20px;
      }

      div.singlePoint {
        p {
          max-width: 270px;
          font-size: 0.8rem;
        }

        span.subContent {
          max-width: 350px;
        }
      }
    }
  }
}

button.bookingButton {
  border: solid;
  width: min(100%, 410px);

  height: 55px;
  margin-top: 8px;

  position: absolute;
  bottom: 0px;
  padding-inline: 16px;
  color: white;
  border-radius: 12px;
  font-size: 1.05rem;

  div.activeButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span.totalPrice {
      padding-right: 16px;
      border-right: 2px solid white;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p.selectedSeats {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 0.9rem;
      flex: 0.85;
    }
  }
}

p.pointSearchBar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(216, 213, 213);

  input {
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin-left: 30px;
    border-radius: 8px;

    &::placeholder {
      color: hsl(0, 5%, 70%);
      font-size: 1rem;
    }
  }
}

.selectedPointCard {
  background-color: white;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  margin-bottom: 10px;

  & button {
    padding-inline: 20px;
    height: 40px;
    color: hsl(4, 85%, 61%);
    background-color: white;
    border: 1.8px solid hsl(4, 85%, 68%);
    border-radius: 8px;
    display: inline-block;
    align-self: center;
    margin-inline: auto;
  }
  p {
    line-height: 1.3;
  }
  span {
    margin-top: 4px;
    line-height: 1.1;
    display: inline-block;
    max-width: 270px;
    color: rgb(127, 125, 125);
  }
  h4 {
    max-width: 250px;
    font-size: 0.85rem;
    margin-block: 4px;
    color: rgb(58, 58, 57);
  }

  @media screen {
    @media (max-width: 815px) {
      h4 {
        max-width: 500px;
      }
      span {
        max-width: 500px;
      }
    }

    @media (max-width: 550px) {
      h4 {
        max-width: 290px;
        font-size: 0.8rem;
      }
      span {
        max-width: 250px;
      }
    }
  }
}
