.section {
    .busType_boxes {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .box {
            padding: 3.8px;
            // width: 80%;
            height: 100%;

            .select-box {
                display: none;

                &:checked+label {
                    color: #dc635b;
                    outline: 1px solid #dc635b;
                }
            }

            label {
                color: #444444;
                font-size: 0.7rem;
                display: flex;
                gap: 5px;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-radius: 5px;
            }
        }
    }
}