.filters-container {
    background-color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 1px 1px 3px #e3e3e3;
    // overflow-y: scroll;

    .header {
        display: flex;

        .subheading {
            font-size: 1rem;
            font-weight: 500;
        }

        .clear_all_btn {
            display: flex;
            justify-content: flex-end;
            background-color: #fff;
            border: none;
            color: #dc635b;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .section {
        padding: 15px;
        border-radius: 10px;
        background-color: #f4f4f4;

        .title {
            font-size: 1rem;
            font-weight: 500;
            display: block;
            margin: 10px 0;
            color: #3d3d3d;
        }

        .boxes {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .box {
                padding: 5px;

                .select-box {
                    display: none;

                    &:checked+label {
                        color: #dc635b;
                        outline: 1px solid #dc635b;
                    }
                }

                label {
                    color: #444444;
                    font-size: 0.7rem;
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    cursor: pointer;
                    background-color: #fff;
                    border-radius: 5px;
                }
            }
        }
    }
}


.filter-icon {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.filter-icon:hover {
    background-color: #e9e6e6;
    cursor: pointer;
}

.range-val {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;

}