.city-info-mobile {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #424242;
    position: sticky;
    top: 0;
    z-index: 2;

    p {
        text-align: left;
        padding-left: 2.5rem;
        font-size: small;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .cities {
        display: flex;
        margin: 1rem 1rem 0rem 1rem;
        gap: 0.6rem;
        align-items: center;

        i {
            font-size: medium;
        }

        h4 {
            font-size: large;
            font-weight: 500;
        }
    }
}

.trip-info-mobile {
    display: flex;
    justify-content: space-around;
    line-height: 2;
    background-color: white;
    border-radius: 0.5rem;
    width: 96%;
    margin: 0.6rem 0.4rem;
    padding: 0.5rem 0rem;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);

    p {
        font-size: smaller;
        color: #868686;
        text-align: left;
    }

    h3 {
        font-size: medium;
        text-align: left;
    }

    .divider {
        display: flex;
        align-items: center;

        i {
            font-size: 8px;
            color: #B0B0B0;
        }

        hr {
            min-width: 2.4rem;
        }
    }
}

.contact-details-mobile {
    text-align: left;
    background-color: white;
    width: 96%;
    padding: 1rem;
    margin: 0.6rem 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);

    h2 {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    hr {
        color: #868686;
    }

    p {
        color: #868686;
        font-size: small;
        font-weight: 100;
        margin-bottom: 1rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .input-div {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        i {
            font-size: large;
        }

        input {
            outline: none;
            border: none;
            font-size: large;

            &::placeholder {
                color: #B0B0B0;
                font-weight: 100 !important;
                font-size: medium;
            }
        }
    }
}

.passenger-details-mobile {
    text-align: left;
    background-color: white;
    width: 96%;
    padding: 1rem;
    margin: 0.6rem 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);

    h2 {
        font-weight: 600;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
    }

    hr {
        color: #868686;
    }

    p {
        color: #868686;
        font-size: small;
        font-weight: 100;
        margin-bottom: 1rem;
    }

    .form {

        p {
            color: black;
            font-size: medium;

            span {
                color: #3dc070;
            }
        }

        .user-info {

            display: flex;

            input {
                outline: none;
                border: none;
                width: 30%;
                margin-bottom: 0.5rem;

                &::placeholder {
                    color: #B0B0B0;
                    font-weight: 100 !important;
                }
            }

            .btn-mobile {
                display: flex;
                gap: 0.2rem;
                border: 1px solid #B0B0B0;
                border-radius: 1rem;
                padding: 0rem 0.5rem;
                align-items: center;

                .btn-mobile-radio {
                    display: none;
                }

                input[type="radio"]:checked + label {
                    background: #A34944; /* Change background when selected */
                    color: #f8f8f8; /* Change text color */
                }

                hr {
                    height: 80%;
                }

                label {
                    background-color: transparent;
                    font-size: 11.5px;
                    border: none;
                    border-radius: 1rem;
                    padding: 0.15rem 0.3rem;
                    color: #B0B0B0;
                }

                .male:hover {
                    background-color: #cde8f0;
                    color: #3983cd;
                }

                .female:hover {
                    background-color: #ffdced;
                    color: #ff7fd4;
                }
            }
        }
    }
}

.proceed-btn {
    position: sticky;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: #dc635b;
    padding: 0.4rem 0.6rem;
    width: 96%;
    margin: 0.4rem;
    border-radius: 0.6rem;
    color: white;
    align-items: center;
    
    hr {
        min-height: 2.5rem;
        border: 1px solid white;
    }

    i {
        font-size: small;
    }

    .proceed-btn-left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .seat-detail {
        display: flex;
        align-items: center;
        gap: 10px;

        h3 {
            font-weight: 300;
            font-size: large;
        }

        p {
            font-size: smaller;
        }
    }
}
.proceed-btn:hover{
    opacity: 0.9;
}