@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.search-container {
    height: 80vh;
    width: 100vw;
    position: fixed;
}

.orange{
    color: #E4938F;
}

.search-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(https://static.abhibus.com/web/media/backgrounds/search.20230915.webp);
}

.search-form-container {
    position: relative;
    top: 7rem;
    left: 4.5rem;

    h1 {
        line-height: 1;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-bottom: 1rem;
        color: #353535;
        text-align: justify;
        padding-left: 30rem;
        font-size: 35px;
    }
}

.bg-white{
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
}

.search-form {
    display: flex;
    background-color: transparent;
    width: 90vw;
    padding: 1.3rem 1rem;
    border-radius: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .04), 0 0 1px -2px rgba(0, 0, 0, .04), 0 2px 5px 0 rgba(0, 0, 0, .06);

    .destination-city-input, .source-city-input {
        width: 23%;
    }

    .search-input {
        border: 1px solid #F2F2F2;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 0rem 1rem;
        height: 55px;

        input {
            border: none;
            font-size: medium;
            font-family: "Roboto", sans-serif;
            background-color: transparent;

            &::placeholder {
                color: #B7B0B2;
                font-size: medium;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .today-tomorrow-btn {
        display: flex;
        column-gap: 0.5rem;

        button {
            font-size: 15px !important;
            font-weight: 600 !important;
            color: #212121;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .search-date {
        display: flex;
        flex-wrap: wrap;
        width: 35%;
        justify-content: space-between;

        input {
            cursor: text;
        }

        button {
            background-color: #F3F1F1;
            border: none;
            min-height: 40px;
            padding: 0px 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: medium;

            &:hover, &:focus {
                background-color: #FAEAEA;
                color: #E29EAD;
            }
        }
    }
    .search-button {
        background-color: #DC635B;
        color: white;
        font-weight: 500;
        font-size: 1.3rem;
        padding: 0.8rem 2rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: #A34940;
        }
    }
}

.ant-picker {
    border-color: #d9d9d9;
    &:hover {
        border-color: #d9d9d9;
    }
    &-focused {
        border-color: #d9d9d9 !important;
        box-shadow: 0 0 0 2px rgba(235, 162, 162, 0.2) !important;
    }
}

.ant-picker-clear {
    display: none;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: #A34940 !important;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #DC635B !important;
    color: white;
}

.search-city-div {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .04), 0 0 1px -2px rgba(0, 0, 0, .04), 0 2px 5px 0 rgba(0, 0, 0, .06);
    background-color: white;
    padding: 8px 0px;
    max-height: 15rem;
    overflow-y: scroll;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    width: 20vw;
    scrollbar-width: thin;
    scrollbar-color: #E4938F #f8f2f4;

    .singleCity {
        text-align: left;
        padding: 0.5rem 1rem;
        border-radius: 0rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 18px;
        width: 97%;
        margin-left: 5px;

        .city-name {
            font-size: medium;
            line-height: 2;
        }

        .state-name {
            font-size: small;
            color: #BCB6B8;
        }

        &:hover {
            background-color: #FDF5F3;
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f8f2f4;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E4938F;
        border-radius: 10px;
        border: 2px solid #f8f2f4;
    }
}

.source-city-div {
    position: absolute;
    top: 8rem;
    left: 1.8%;
}

.destination-city-div {
    position: absolute;
    top: 8rem;
    left: 26.6%;
}

.mobile-search-component {
    display: none;
}

.desktop-search-component {
    display: block;
}

.logo {
    padding: 1.2rem 0rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .desktop-search-component {
        display: none;
    }

    .mobile-search-component {
        display: block;
    }

    .search-city-div {
        width: 86vw !important;
        height: 80vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search-bg-img {
        width: 117%;
    }

    .search-form-container h1 {
        padding-left: 15rem;
    }

    .search-form {
        border: 1px solid #F2F2F2;
    }

    .search-city-div {
        width: 30vw;
    }

    .source-city-div {
        left: 6rem;
    }

    .search-form-container {
        left: 2.5rem;
    }
}