body {
  margin: 0;
  font-family: 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --grayFont : #8A8A86;
  --mediumRed : #DC635B;
}
::-webkit-scrollbar {
  width: 5px;
  
}

.scroll{
  overflow-y: scroll;
}


:root{
  --grayFont : #8A8A86;
  --mediumRed : #DC635B;
}
::-webkit-scrollbar {
  width: 5px;
  
}

.scroll{
  overflow-y: scroll;
}