.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;

    .filter {
        h4 {
            margin-bottom: 10px;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 0;
            margin-top: 0;
            letter-spacing: 1px;
        }

        .line_divider {
            width: 100%;
            height: 1px;
            background-color: #ccc;
            margin-bottom: 10px;
        }

        .price_drop {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .filter_section {
            margin-bottom: 10px;
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 8px;
            // border:  1px solid black;

            .price-slider-container {
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

            }

            label {
                font-weight: 300;
                display: block;
                margin: 5px;
            }

            .bus-type-options {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 50%;
                // border: 1px solid black;
                justify-content: center;
                padding: 10px;
                border-radius: 8px;



                svg {
                    font-size: 24px;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }

            .departure_time_options {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                background-color: #f0f0f0;
                padding: 10px;
                border-radius: 8px;
            }

            .departure_time_option {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: white;
                border-radius: 8px;
                cursor: pointer;

                svg {
                    font-size: 24px;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }

        .dropdown {
            background-color: #f5f5f5;

            .dropdown_container {
                display: flex;
                justify-content: space-between;

                .dropdown_icon {
                    color: #000;
                    font-size: 30px;
                    cursor: pointer;
                }
            }

            .dropdown_content {
                height: 150px;
                width: 100%;
                display: grid;
                grid-template-rows: 2fr 5fr;

                .search_bar {
                    margin-bottom: 10px;
                    margin-left: 10px;
                }

                input {
                    margin-top: 5px;
                    border: none;
                    outline: none;
                    width: 80%;
                    border-radius: 8px;
                    background-color: #fff;
                    color: #000;
                    padding: 15px;
                }

                .checkbox_group {
                    width: 100%;
                    max-height: 100%;
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    overflow-y: scroll;
                    flex-direction: column;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    
               

                    .insidecheckgroup {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        gap: 5px;
                        width: 90%;
                        margin-bottom: 5px;
                        cursor: pointer;
                        label {
                            width: 50%;
                            color: #868585;
                        }


                    }



                

                    // label::before {
                    //     display: inline-block;
                    //     margin-right: 10px;
                    //     width: 15px;
                    //     height: 15px;
                    //     border: 1px solid #acabab;
                    //     border-radius: 3px;
                    //     background-color: #fff;
                    //     vertical-align: middle;
                    // }
                }
            }
        }
    }
}




.checkbox_group::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px; /* Optional: round the corners of the scrollbar track */
}

.bustype {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #f0f0f0;
    // gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    // border: 1px solid blue;
    border-radius: 10px;
}

.bustypekabel {
    width: 100%;
    text-align: left;
    // color: red;
    margin-left: 20px;
    padding: 10px 10px;
}


.innersection {
    display: flex;
    justify-content: center;
    width: 100%;

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    // border: 1px solid red;
    gap: 5px;
}

.checkeditem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    // border: 1px solid black;
    padding: 7px 20px;
    background-color: white;
    border-radius: 5px;
    width: 7%;
    height: 9vh;
    font-size: 12px;

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

    }
}


.upperdeparture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;

    .deparlabel {
        padding: 10px;
        text-align: left;
        width: 90%;
    }
}

.departure_time_options {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    text-align: center;
    width: 100%;
    // border: 1px solid blue;
    justify-content: center;
    padding: 10px;
}

.departurecheckeditem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: 1px solid red;
    flex-direction: column;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    width: 5vw;
    height: 9vh;
    font-size: 12px;

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}